* {
    box-sizing: border-box;
    font-family: 'Copse', serif;
    background-color: green
}

.buttons {
    display: flex;
}

button {
    position: absolute;
    bottom: 50%;
    left: 5%;
    flex: 1;
}

#searchBar {
    width: 100%;
    position: absolute;
    left: 35%;
    top: 5%;
    opacity: .1;
}

